<!doctype html>
<html ng-app="xxx">
<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <title>Курсы валют</title>
</head>
<body>
    <div ng-controller="ctrl">
        <div name="d1">
            <input ng-model="z.a" />
            <input ng-model="z.b" />
            <input ng-model="z.c" />
            <button type="submit" ng-click="save(z, d1)">Test1</button>
        </div>

        <form name="form1">
            <fieldset>
                <p>
                    <label for="answerText">Текст ответа</label>
                    <input id="answerText" ng-model="answer.text" required placeholder="Введите ответ" />
                </p>
                <p>
                    <label for="answerAuthor">Автор ответа</label>
                    <input id="answerAuthor" ng-model="answer.author" required placeholder="Введите автора" />
                </p>
                <p>
                    <label for="answerDate">Дата ответа</label>
                    <input id="answerDate" ng-model="answer.date" required ng-pattern="/\d\d/\d\d/\d\d\d\d/" placeholder="Введите дату" />
                </p>
            </fieldset>
            <button type="submit" ng-click="save(answer, form1)">Сохранить</button>
        </form>
    </div>

    <script>
        var app = angular.module("xxx", []);
        app.controller("ctrl", function ($scope) {
            $scope.save = function (answer, form) {
                if (form.$valid) {
                    alert(answer.author + ", ваш ответ сохранен");
                }
            }
        });
    </script>

</body>
</html>